.error_msg {
	width: 100%;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.container {
	display: flex;
    flex-direction: column;
    /* padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
    width: 100vw; */
	padding-left: 1rem;
	padding-right: 1rem;


    align-items: center;
    justify-content: center;

    height: calc(100vh - 70px);
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}